.env
.env.test
/*.env

# Babel configuration
.babelrc
babel.config.js

# Ignore node_modules
node_modules/
/node_modules
npm-debug.log

# Optionally ignore other build artifacts or temporary files
*.log

# Operating System files
.DS_Store
Thumbs.db


