.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 90%; /* Responsive width */
  max-width: 500px; /* Set a max width */
  max-height: 80vh; /* Set a max height */
  overflow-y: auto; /* Allow vertical scrolling */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  position: relative; /* Added to allow absolute positioning of close button */
}

.img {
  max-width: 100%; /* Make images responsive */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; 
}

h2, p {
  font-size: 1rem; 
  margin: 5px 0; 
}

.close {
  position: absolute;
  top: 10px; /* Adjust if needed */
  right: 10px; /* Adjust if needed */
  border: none;
  background: rgba(133, 192, 156, 0.8); /* White with some transparency */
  font-size: 20px;
  cursor: pointer;
  z-index: 1010; /* Ensure the button is above the content */
  padding: 5px 10px; /* Add some padding for a better appearance */
  border-radius: 5px; /* Optional: rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: add shadow for depth */
}

.saveBtn {
  margin-top: 10px; 
  background-color: #007bff; 
  color: white; 
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer; /* Pointer cursor */
}
