.navbar {
  position: sticky; /* Makes the navbar stick to the top */
  top: 0; /* Position it at the top */
  background-color: #333;
  padding: 5px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it stays above other content */
  color: #fff;
  font-size: 12px;
  border-radius: 8px;
  min-width: 200px; /* Minimum width for smaller screens */
}

.navbarContent {
      display: flex;
      flex-direction: column; /* Stack navbar content vertically */
      width: 100%; /* Full width */
    }
.welcomeContainer {
      display: flex;
      align-items: center; /* Center items vertically */
      justify-content: space-between; /* Space between left and right */
      width: 100%; /* Ensure it takes full width */
    }
.welcomeContent {
      display: flex; /* Ensure welcome message and button are in a row */
      align-items: center; /* Center items vertically */
    }
.alertIcon {
      margin-left: auto; /* Push the alert icon to the right */
      cursor: pointer; /* Change cursor to pointer on hover */
    }   
.alertIcon img {
      width: 24px; /* Adjust size of the alert icon */
      height: 24px; /* Maintain aspect ratio */
    }

.fullWidth {
      width: 100%; /* Make the search component take full width */
      margin-bottom: 5px; /* Space between search and links */
    }

.linkContainer {
      display: flex;
      justify-content: space-between; /* Distribute links evenly */
      background-color: #444; 
      padding: 5px 0;
      border-radius: 5px;
      width: 100%; /* Ensure it takes full width */
    }

.linkContainer a {
      color: #fff;
      text-decoration: none;
      padding: 8px 12px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      flex: 1; /* Allow links to fill available space */
      text-align: center; /* Center text */
      margin: 0 5px; /* Add some spacing between the links */
    }
.linkContainer a:hover {
      background-color: #555;
    }


/* Media queries for responsive design */
@media (max-width: 600px) {
  .navbar {
    font-size: 10px; 
  }

  .navbarContent {
    flex-direction: column; /* Stack items vertically on small screens */
  }

  .linkContainer {
    flex-direction: column; /* Stack links vertically */
  }

  .nav a {
    padding: 6px 10px;
  }
}

@media (max-width: 315px) {
  .navbar {
    min-width: 100%; /* Ensure navbar takes full width on very small screens */
    overflow: hidden; /* Prevent overflow */
  }

  .linkContainer {
    flex-direction: column; /* Stack links vertically */
    padding: 10px; /* Increase padding for better spacing */
  }
}